<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ESTER STORE</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #a767d1;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="Screenshot_2024-02-09_183014-removebg-preview.png" height="50"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link " href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/addProduct">Add product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="#">About</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

  <div class="container text-center mt-5">
    <p class="fs-5 text-center">
      This page is intended to be use by me and my family with our store. It is merely a simple website that have the
      list of the product that we sell in our small sari-sari store. Further features are coming soon.
    </p>


    <p class="fs-5 text-center mt-5">
      Contact us at: <br>
      Email: esterstore@example.com <br>
      Phone: 123-456-7890
    </p>
  </div>


</body>

</html>